<div class="d-flex container flex-column">
  <h1>Task List!</h1>
  <div class="flex-item-fixed filter-section d-flex p-2 flex-row">
    <span class="p-2"><b>Filters:</b></span>
    <select class="p-2" name="status" id="status">
      <option value="complete">Complete</option>
      <option value="pending">Pending</option>
      <option value="in-progress">In Progress</option>
    </select>
    <select class="p-2" name="sort" id="sort">
      <option value="date">Date</option>
      <option value="urgent">Urgent</option>
      <option value="postpone">Postpone</option>
    </select>
    <select class="p-2" name="priority" id="priority">
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
    <div class="ms-auto p-2"><button class="btn btn-success" (click)="addNewTask()">Add New Task</button></div>
  </div>

  <div class="task-table">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{task.name}}</td>
          <td>{{task.dueDate | date:'MM/dd/yyyy'}}</td>
          <td>{{task.priority}}</td>
          <td>{{task.status}}</td>
          <td style="cursor: pointer;">
            <div class="d-flex flex-row">
              <!-- <div><span class="material-symbols-outlined">
              visibility
              </span></div> -->
              <div><span class="material-symbols-outlined" (click)="onUpdate(i)">
                edit_square
                </span></div>
                <div><span class="material-symbols-outlined">
                  more_vert
                  </span></div>
              <div><span class="material-symbols-outlined" (click)="onDelete(i)">
                delete
              </span></div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
