<div class="d-flex container flex-column">
  <h1>Task List!</h1>
  <div class="flex-item-fixed filter-section d-flex p-2 flex-row">
    <span class="p-2"><b>Filters:</b></span>
    <select class="p-2" name="status" id="status">
      <option value="complete">Complete</option>
      <option value="pending">Pending</option>
      <option value="in progress">In Progress</option>
    </select>
    <select class="p-2" name="sort" id="sort">
      <option value="date">Date</option>
      <option value="urgent">Urgent</option>
      <option value="postpone">Postpone</option>
    </select>
    <select class="p-2" name="priority" id="priority">
      <option value="high">High</option>
      <option value="medium">Medium</option>
      <option value="low">Low</option>
    </select>
    <div class="p-2 ml-auto"><button class="btn btn-success">Manage</button></div>
  </div>

  <div class="task-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
          <td>XXX</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
